@model WebApplication.Models.MyTask

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>MyTask</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TaskName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaskName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlanedStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlanedStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlanedEnDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlanedEnDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActualStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActualStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActualEndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActualEndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssigneeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssigneeID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReporterID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReporterID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PercentDone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PercentDone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Attachment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Attachment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CommentID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommentID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
